    @import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
    color:white;
}

body {
  /* background-image: url("https://i.pinimg.com/736x/55/04/ce/5504ce371d444ab15de22281b2f96386.jpg"); */
  background-attachment: fixed;
  background-size:cover;
  background-position:center;
  background-color: grey;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

div {
  border:1px solid red;
  color:white;
}

.sectiontitle {
  display:flex;
  justify-content:space-around;
}

.sectiontext {
  display:flex;
  justify-content:space-around;
}

.profilepicture {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}

.container {
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:space-between;
}  

.project {
  width:30%;
}

.heading {
  display:flex;
  justify-content:space-around;
}

p {
  display:flex;
  justify-content:space-around;
}

bth {
  display:flex;
  justify-content:space-around;
}