    @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Bungee Spice";
    color:white;
}

body {
  background-attachment: fixed;
  background-size:cover;
  background-position:center;
  background-color:gray;
}

.space {
  height:100px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.navbar{
position:fixed;
width:100%;
}

div {
  /* border:1px solid red; */
  color:white;
}

.sectiontitle {
  display:flex;
  justify-content:space-around;
}

.sectiontext {
  display:flex;
  justify-content:space-around;
}

.profilepicture {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}

.heading {
  display:flex;
  justify-content:space-around;
}

p {
  display:flex;
  justify-content:space-around;
}

.btn {
  display:flex;
  justify-content:space-around;
}

.journey-container {
  display:grid;
  grid-template-columns:1fr 4fr;
  grid-template-rows:auto auto auto;
  padding:10px;
}

.journey-left-column {
  grid-column:1;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

.journey-years {
display:block;
font-size:30px;
height:250px;
/* border:1px solid red; */
}

.year1 {
  grid-row:1;
}

.year2 {
  grid-row:2;
}

.year3 {
  grid-row:3;
}

.journey-right-column {
  grid-column:2;
}

.journey {
display:block;
height:250px;
/* border:1px solid red; */
}

.journey1 {
  grid-row:1;
}

.journey2 {
  grid-row:2;
}

.journey3 {
  grid-row:3;
}

.portfolio-container {
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:space-between;
  padding:10px;
}  

.project {
    width:30%;
    min-width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    /* border:1px solid red; */
    object-position: 25% 25%;
}

/* .project > div {
    min-height:200px;
    min-width:200px;
    border:1px solid red;
    max-width:200px;
    margin:0 auto; */
/* } */

@media only screen and (max-width: 600px) {
    .portfolio-container {
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
    }
}

@media only screen and (max-width: 600px) {
  .project {  
    height:600px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    /* border:1px solid red; */
    object-position: 25% 25%;
    }
}

.projecttext {
  display:flex;
  justify-content:space-around;
}