#nav {
    display:block;
    background-color: black;
    padding:10px;
    position:fixed;
    left:0;
    top:0;
    width:100%
}

i {
    color:white;
}

#ourproducts {
position: absolute;
right:20px;
   float:right;
    color:white;
}

#index {
    position: absolute;
    right:200px;
       float:right;
        color:white;
}

#login {
    position: absolute;
    right:120px;
       float:right;
        color:white;
}

#signup {
    position: absolute;
    right:120px;
       float:right;
        color:white;
}

li{
    display:inline-block;

}

#form {
    display:block;
    position:relative;
    top:100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
