body {
    background-image: url("circuit-pattern.png");
    background-color: #6232a8;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.navbar {
    width:auto;
    height:50px;
    background-color: #32a852;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:20px;
    padding:10px;
}

.logo {
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-size:30px;
}

.navbackground {
    background-image: url("card-pattern.png");
    object-fit: cover;
    padding:10px;
    width:100%;
}

.myFilter {
    width:750px;
}

.robot_container {
    width:1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    align-self:center;
    padding:50px;
}

.robot {
    width: 250px;;
    height: 350px;
    background-color: #32a2a8;
    margin: 5px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;
    padding:10px;
    background-image: url("card-pattern.png");
    border-radius:5%;
}

.img {
    width:200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: navy;
    align-self:center;
}